All Users Shown Here

<table class="table">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Relationship</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to gravatar_for(user), user %></td>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <% unless current_user?(user) %>
                <% if current_user.following?(user) %>
                    <%= render 'unfollow', user: user %> <%# no need @ because loop user in this page %>
                <% else %>
                    <%= render 'follow', user: user %>
                <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>