This is the show page of <%= @user.name %>

<div class="card-body text-center">
    <%= gravatar_for @user %>
    <h1><%= @user.name %></h1>
    <% unless current_user?(@user) %>
        <% if current_user.following?(@user) %>
            <%= render 'unfollow', user: @user %> <%# need @ because only one user in this page %>
        <% else %>
            <%= render 'follow', user: @user %>
        <% end %>
    <% end %>  
</div>

