
    <div class="row">
        <div class="col-sm-6 col_1"> <%# col-1と名付けると別のBootstrapが適用されてしまう %>
            <%= image_tag('sakura_japan.png', class: "top-image") %>
        </div>
        <div class="col-sm-6 col_2">
            <h4 class="text-center">Create New Account</h4>
            <%= form_for @user do |f| %>
            <%# form_for(@user, :url => {:controller => :home, :action => :create}) do |f| %>
                <%= render "shared/error_messages", object: f.object %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :password %>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-eye-slash" id="eye"></i></div>
                        </div>
                        <%= f.password_field :password, class: "form-control", id: "password" %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-eye-slash" id="eye2"></i></div>
                        </div>
                        <%= f.password_field :password_confirmation, class: "form-control", id: "password2" %>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.check_box :agreement %>
                    <%= f.label :agreement do
                        "I agree to the #{link_to 'Privacy Policy', '#'}".html_safe
                    end %>
                </div>
                <div class="text-center">
                    <%= f.submit "Sign Up", class: "btn btn-success" %>
                </div>
            <% end %>        
        </div>
    </div>