<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Sun* e-Learning System", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
        <ul class="navbar-nav ml-auto">
            <%# if logged_in? %>
            <li class= "nav-item">
                <%= link_to "Dashboard", "#", class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "Lessons", "#", class: 'nav-link' %>
            </li>
            <li class= "nav-item">
                <%= link_to "Members", "#", class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Username
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Setting</a>
                    <%# if admin? %>
                    <a class="dropdown-item" href="#">Manage Lessons</a>
                    <a class="dropdown-item" href="#">Manage Members</a>
                    <%# end %>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </div>

    <form>
        <div class="form-row">
            <div class="form-group col-md-5 login-form">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group col-md-5 login-form">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <%= link_to "Forgot Password?", "#" %>    
            </div>
            <div class="form-group col-md-2 login-form">
                <%= link_to "Log In", "#", class: 'nav-link btn btn-primary' %>
            </div>
        </div>
    </form>
</nav>

