<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#fcc5d9;">
    <%= link_to "Sun* e-Learning System", root_path, class: "navbar-brand text-sm-left" %> <%# スマホでも中央に寄らない %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <%# if logged_in? %>
            <li class= "nav-item">
                <%= link_to "Dashboard", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Lessons", "#", class: "nav-link" %>
            </li>
            <li class= "nav-item">
                <%= link_to "Members", "#", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    user.name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Profile", "#", class: 'dropdown-item' %>
                    <%= link_to "Settings", "#", class: 'dropdown-item' %>
                    <%# if admin? %>
                        <%= link_to "Manage Lessons", "#", class: 'dropdown-item' %>
                        <%= link_to "Manage Members", "#", class: 'dropdown-item' %>
                    <%# end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Log Out", "#", class: 'dropdown-item' %>
                </div>
            </li>
        </ul>
    </div>
    <div class="float-right"> <%# float-rightもnavbar-rightも右に寄らない %>
        <%= form_for(:session, url:"#") do |f| %>
            <div class="form-row">
                <div class="form-group col-md-5 login-form">
                    <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
                </div>
                <div class="form-group col-md-5 login-form">
                    <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                    <%= link_to "Forgot Password?", "#" %>    
                </div>
                <div class="form-group col-md-2 login-form">
                    <%= link_to "Log In", "#", class: 'nav-link btn btn-success' %>
                </div>
            </div>
        <% end %>
    </div>
</nav>

